<div class="lineItemForm">
  <%= label_tag 'sku' %>
  <%= text_field_tag 'skus[]' %>
  <%= label_tag 'cost' %>
  <%= text_field_tag 'costs[]' %>
  <%= label_tag 'quantity' %>
  <%= text_field_tag 'quantities[]' %>
</div>