
<div class="lineItemForm">
  <%= f.label :sku %>
  <%= f.text_field :sku,:readonly => true %>
  <%= f.label :cost %>
  <%= f.text_field :cost,:readonly => true %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity,:readonly => true %>
  <%= f.hidden_field :product_id %>
</div>