<div class="col-lg-3">
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :state %><br />
      <%= f.text_field :state %>
    </div>

    <div class="field">
      <%= f.label :pin %><br />
      <%= f.text_field :pin %>
    </div>
</div>
